<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 150%;">
      Talk soon,<br>
      Ahmed
      <br>
      —<br/>
      Ahmed Osama<br/>
      BrainWise | President<br/>
      (+20) 23576247<br/>
      <a href="brainwise.me">brainwise.me</a><br/>
    </td>
  </tr>
</table>